/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff; /* White background */
  color: #000; /* Black text */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
