.editor-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-item {
  flex: 1;
  text-align: center;
}

.header-item:nth-child(2) {
  margin-left: 40px; /* Adjust margin to move Quantity title to the right */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

li input[type="text"],
li input[type="number"],
li button,
li span {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px; /* Adjusted margin */
}

button {
  padding: 8px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #2d93ff;
}

button.delete-button {
  background-color: #ff6262; /* Red background for delete button */
  color: #fff;
}

button.delete-button:hover {
  background-color: #ff1e1e; /* Darker shade on hover */
}

span {
  margin: 4 2px; /* Adjusted margin for quantity */
  font-weight: bold;
  background-color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
}

.loading {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}

body {
  color: #000000;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Adjust as needed */
}

li input[type="number"] {
  width: 90px; /* Adjust width as needed */
}